/* ------------------------------------
			variables
------------------------------------ */
/* ------------------------------------
			generales
------------------------------------ */
header {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  font-family: 'Signika', sans-serif;
}
