/* ------------------------------------
			variables
------------------------------------ */
/* ------------------------------------
			generales
------------------------------------ */
header {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  font-family: 'Signika', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  color: #4691ce;
}
h1 {
  font-size: 45px;
}
/* ------------------------------------
			nosotros
------------------------------------ */
.wallpapered {
  margin: 0;
  padding-top: 250px;
  width: 100%;
  background: #eee center top;
}
.titulo {
  font-size: 120px;
  color: #4691ce;
  margin-top: -130px;
  margin-bottom: 50px;
}
/* ------------------------------------
			quotes
------------------------------------ */
.quote {
  background-image: url(img/testimoniales.png);
  width: 1900px;
  height: 421px;
  margin-top: 50px;
}
/* ------------------------------------
			footer
------------------------------------ */
.footer {
  background-color: #4691ce;
  padding-top: 30px;
  margin-top: 50px;
}
.footer img {
  margin-top: 20px;
}
ul.menuFooter {
  text-decoration: none;
}
ul.menuFooter li {
  list-style: none;
}
ul.menuFooter li a {
  color: #ffffff;
}
ul.menuFooter li a:hover {
  color: #ffffff;
}
.derechos {
  background-color: #30648e;
  width: 1900px;
  text-align: center;
}
.derechos p {
  margin-top: 10px;
  font-size: 12px;
  color: #ffffff;
}
