/* ------------------------------------
			variables
------------------------------------ */
/* ------------------------------------
			generales
------------------------------------ */
header {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  font-family: 'Signika', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  color: #4691ce;
}
h1 {
  font-size: 45px;
}
.nav-pills > li.current > a,
.nav-pills > li.current > a:hover,
.nav-pills > li.current > a:focus {
  color: #ffffff;
  background-color: #4691ce;
}
/* ------------------------------------
			Index
------------------------------------ */
.boton {
  text-decoration: none;
  color: #ffffff;
}
.boton:hover {
  color: #ffffff;
  text-decoration: none;
}
/* ------------------------------------
			nosotros
------------------------------------ */
.wallpapered {
  margin: 0;
  padding-top: 250px;
  width: 100%;
  background: #eee center top;
  -webkit-box-shadow: 0px 5px 15px 0px #4a4a4a;
  -moz-box-shadow: 0px 5px 15px 0px #4a4a4a;
  box-shadow: 0px 5px 15px 0px #4a4a4a;
}
.titulo {
  font-size: 120px;
  color: #4691ce;
  margin-top: -130px;
  margin-bottom: 50px;
}
/* ------------------------------------
			servicios
------------------------------------ */
#tituloservicio {
  margin-top: 10px;
}
#sliderSer {
  margin-top: 30px;
}
#sliderSer h1 {
  color: #ffffff;
}
#servicio1 {
  background: url(img/servicio1.png) center top no-repeat;
  height: 419px;
  padding-top: 60px;
  margin-top: 50px;
}
#servicio1 p {
  color: #ffffff;
}
#servicio1 h2 {
  color: #ffffff;
}
#servicio2 {
  background: url(img/servicio2.jpg) center top no-repeat;
  height: 276px;
}
#servicio2 p {
  color: #4691ce;
}
#servicio3 {
  background: url(img/servicio3.png) center top no-repeat;
  height: 419px;
  padding-top: 60px;
}
#servicio3 p {
  color: #ffffff;
}
#servicio3 h2 {
  color: #ffffff;
}
#servicio4 {
  background: url(img/servicio2.jpg) center top no-repeat;
  height: 276px;
}
#servicio4 p {
  color: #4691ce;
}
#servicio5 {
  background: url(img/servicio5.png) center top no-repeat;
  height: 419px;
  padding-top: 60px;
}
#servicio5 p {
  color: #ffffff;
}
#servicio5 h2 {
  color: #ffffff;
}
#servicio6 {
  background: url(img/servicio2.jpg) center top no-repeat;
  height: 276px;
}
#servicio6 p {
  color: #4691ce;
}
/* ------------------------------------
			quotes
------------------------------------ */
.quote {
  background: url(img/testimoniales.png) center top no-repeat;
  height: 421px;
  margin-top: 50px;
}
/* ------------------------------------
			footer
------------------------------------ */
.footer {
  background-color: #4691ce;
  margin-top: 50px;
}
.footer img {
  margin-top: 30px;
  padding-bottom: 15px;
}
.footer li {
  margin-top: 40px;
}
ul.menuFooter {
  text-decoration: none;
}
ul.menuFooter li {
  list-style: none;
}
ul.menuFooter li a {
  color: #ffffff;
}
ul.menuFooter li a:hover {
  color: #ffffff;
}
.derechos {
  background-color: #30648e;
  text-align: center;
}
.derechos p {
  margin-top: 10px;
  font-size: 12px;
  color: #ffffff;
}
/* ------------------------------------
				contacto
------------------------------------ */
#contInfo {
  background: url(../img/contacto.png) no-repeat center top !important;
  height: 300px;
  padding-top: 150px;
  color: white !important;
}
#contInfo h3 {
  color: white;
}
#contInfo p {
  color: white;
}
